<head>
  <title>hello</title>
</head>

<body>
  <p>&nbsp;</p>
  <div class="container">
    {{#if showMessage}}
      {{> message}}
    {{/if}}
    <div class="well">
      {{> hello}}
    </div>
  </div>
</body>

<template name="hello">
  <h1>Welcome to Meteor!</h1>
  <button id="add" class="btn btn-primary">Click Me</button>
  {{#if counterGreaterZero}}
    <button id="sub" class="btn btn-danger">Do Not Klick Me</button>
  {{/if}}
  <p>You've pressed the button {{counter}} times.</p>
</template>

<template name="message">
  <div class="alert alert-success alert-dismissable">
    <button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <p>{{messageText}}</p>
  </div>
</template>